@font-face {
  font-family: "TD Mars"; 
  src: url("../fonts/TD Mars.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Nozhik"; 
  src: url("../fonts/Nozhik.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "USSR Stencil"; 
  src: url("../fonts/USSR.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Better VCR"; 
  src: url("../fonts/BetterVCR.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Montserrat"; 
  src: url("../fonts/Montserrat.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

html {
  /* background-color: #eaeeee; */
}

body {
  margin: 0 auto;
  padding-top: 110px;
  
  /* background-color: #eaeeee; */
  min-height: 1000px;
}

#content {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1400px;
}