.vuz {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 30px;
  background-color: #289e5d;

  border-radius: 40px;
  border-style: hidden;
}

.vuz-name {
  display: block;
  width: 100%;
  background-color: #00000000;
  height: fit-content;
  margin: 0 auto;
  font-family: "Nozhik";
  font-size: 80px;
  color: white;
}

.vuz-comment {
  display: block;
  width: 100%;
  background-color: #00000000;
  height: fit-content;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Montserrat;
}


.vuz-table {
  width: 100%;
  border-collapse: collapse;
}

.vuz td {
  height: 60px;
  max-height: 100px;
  vertical-align: middle;
  padding-bottom: 10px;
}

.vuz-programm-number {
  width: 70px;
  text-align: center;
  border-right: #baffd9 solid 1px;
  font-family: USSR Stencil;
  color: white;
  font-size: 40px;
}

.vuz-programm-code {
  color: #baffd9;
  font-size: 15px;
  font-family: Montserrat;
  margin-left: 12px;
  width: fit-content;
}

.vuz-programm-name {
  margin-left: 10px;
  color: white;
  font-size: 25px;
  font-family: Montserrat;
  line-height: 0.9;
  width: fit-content;
}

.vuz-programm-ege {
  width: 70px;
  text-align: center;
  vertical-align: middle;
  font-family: Montserrat;
  color:white;
  font-size: 20px;
}

.vuz-programm-subjects {
  table-layout: fixed;
  margin-left: auto;
}
.vuz-programm-subjects td, .vuz-programm-subjects th {
  font-family: Better VCR;
  min-width: 48px;
  max-width: 48px;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  color: white;
}

.vuz-programm-subjects-td {
  text-align: right;
}